.Upload-container {
    padding: var(--m) var(--m);
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.Upload-titleContainer {
    display: flex;
    flex-grow: 1;
    padding: var(--m);
    flex-direction: column;
}

.Profile-title {
    font-size: var(--l);
    font-weight: bold;
    font-style: italic;
    color: var(--primary--dim);
    flex-grow: 1;
}

.Profile-aboutContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Profile-uploadContainer {
    color: var(--dark);
    flex-grow: 1;
}

.Profile-cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}