.NavBar-container {
    padding: var(--s) var(--m);
    background-color: var(--primary);
}

.NavBar-title {
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.NavBar-linkContainer {
    margin-left: var(--l);
  }

.NavBar-link {
    color: var(--white);
}

.NavBar-link + .NavBar-link {
    margin-left: var(--m);
}

.NavBar-link.NavBar-login {
    opacity: 1;
    margin-left: var(--m);
  }